#!/usr/bin/env bash
set -Eeuo pipefail

mkdir -p "$HOME"/.config/containers
echo 'unqualified-search-registries=["docker.io", "quay.io"]' > "$HOME"/.config/containers/registries.conf

chmod go+r /etc/nsswitch.conf
sed -Ei 's/^#cgroup_manager = "systemd"/cgroup_manager = "cgroupfs"/' /usr/share/containers/containers.conf
chmod --recursive go+r /usr/share/containers/
